<template>
  <div class="main container columns">
    <guide-content class="column is-8" :current="hash" :metadata="task"></guide-content>
    <div class="column is-4">
      <div class="menu-wrapper">
        <guide-menu @step-changed="updateCurrent" :current="hash" :metadata="task"></guide-menu>
      </div>
    </div>
  </div>
</template>
<script>
import TaskMixin from '../mixins/TaskMixin'
import PageMixin from "../PageMixin";

export default {
  props: ['slug'],
  mixins: [TaskMixin, PageMixin],
  data () {
    return {
      hash: null
    }
  },
  computed: {
    task () {
      return this.tasksBySlug[this.slug]
    },
  },
  mounted () {
    let hash = window.location.hash.substr(1) || null;
    if (hash) {
      this.hash = hash
    }
  },
  methods: {
    updateCurrent (index) {
      this.hash = `step-${index}`
    },
    getInnerTitle() {
      return this.task.name
    },
    getDescription () {
      return this.task.summary
    }
  },
  watch: {
    hash (h) {
      let element = document.getElementById(h);
      if (element) {
        history.replaceState(undefined, undefined, `#${h}`)
        element.scrollIntoView({behavior: 'smooth'});
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@media screen and (min-width: 769px) {
  .menu-wrapper {
    position: fixed;
    max-width: 22vw;
    max-height: calc(100% - 6em);
    overflow-y: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  .menu {
    padding-bottom: 1em;
  }
}
</style>
