<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div v-if="contribution.contributor.avatar_url" class="media-left">
          <figure class="image is-48x48">
            <img :src="contribution.contributor.avatar_url" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ contribution.contributor.name }}</p>
          <p class="subtitle is-6">@{{ contribution.contributor.username }}</p>
        </div>
        <time :datetime="contribution.creation_date">{{ contribution.creation_date | ago }}</time>
      </div>

      <button class="button right is-small floated is-outlined is-success" @click="$emit('toggle-modal', contribution.type)">Contribute...</button>
      <div class="content"><slot></slot></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["contribution"]
};
</script>
<style>
.card {
  text-align: left;
}
.right.floated {
  float: right;
}
</style>
