<template>
  <contribution-item @toggle-modal="$emit('toggle-modal', $event)" :contribution="contribution">
    Donated {{ contribution.metadata.amount / 100 }} {{ contribution.metadata.currency }}
    on collective <a target="_blank" :href="contribution.metadata.project_url">{{ contribution.metadata.collective }}</a>
  </contribution-item>
</template>

<script>
import ContributionItem from "@/components/ContributionItem";

export default {
  props: ["contribution"],
  components: {
    ContributionItem
  }
};
</script>
