<template>
  <contribution-item @toggle-modal="$emit('toggle-modal', $event)" :contribution="contribution">
    Opened ticket <a :title="contribution.summary" target="_blank" :href="contribution.url">#{{ contribution.metadata.id }}</a>
    on repository <a target="_blank" :href="contribution.metadata.project_url">{{ contribution.metadata.project }}</a>
  </contribution-item>
</template>

<script>
import ContributionItem from "@/components/ContributionItem";

export default {
  props: ["contribution"],
  components: {
    ContributionItem
  }
};
</script>
