<template>
  <div class="box">
    <article class="media">
      <div class="media-left">

      </div>
      <div class="media-content">
        <div class="content">
          <h4>
            <icon v-if="task.icon" :name="task.icon" class="right floated" />
            {{ task.name }}
          </h4>
          <p>{{ task.summary }}</p>
        </div>
        <small>
          <icon name="clock-o " />
          <template v-if="task.duration === 5">
            <translate translate-context="Task duration" :key="task.duration">
              5 minutes
            </translate>
          </template>
          <template v-else-if="task.duration === 15">
            <translate translate-context="Task duration" :key="task.duration">
              15 minutes
            </translate>
          </template>
          <template v-else-if="task.duration === 30">
            <translate translate-context="Task duration" :key="task.duration">
              30 minutes
            </translate>
          </template>
          <template v-else-if="task.duration === 60">
            <translate translate-context="Task duration" :key="task.duration">
              One hour
            </translate>
          </template>
          <template v-else-if="task.duration === 120">
            <translate translate-context="Task duration" :key="task.duration">
              2 hours
            </translate>
          </template>
          <template v-else-if="task.duration === 9999">
            <translate translate-context="Task duration" :key="task.duration">
              More than two hours
            </translate>
          </template>
        </small>

        <router-link
          :to="{name: 'guide', params: {slug: task.slug, locale: $language.current}}"
          v-if="task.slug && task.steps && task.steps.length > 0"
          class="right floated button is-link">
          <translate translate-context="Call to action to start contributing">
            Get started
          </translate>
        </router-link>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: ["task"]
};
</script>
