<template>
  <figure class="image box">
    <a href="" :title="labels.title" @click.stop.prevent="modal = true">
      <icon name="search" class="is-large"></icon>
      <img :src="media.url" class="square" :alt="media.caption">
    </a>
    <p>{{ media.caption }}</p>
    <div class="modals">
      <modal class="large" :show="modal" @close="modal = false">
        <template slot="title">{{ media.caption }}</template>
        <img :src="media.url" :alt="media.caption">
      </modal>
    </div>
  </figure>
</template>
<script>
export default {
  props: ['media'],
  data () {
    return {
      modal: false,
    }
  },
  computed: {
    labels () {
      return {
        title: this.$pgettext('Link title to zoom on image', 'Click to zoom')
      }
    }
  }
}
</script>
<style lang="scss" scoped>
figure {
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
  max-width: 13em;
  background-color: rgba(20, 16, 16, 0.05);
  &:not(:last-child) {
    margin-right: 1em;
  }
  .square {

    object-fit: fill;
    margin: 0 auto;
  }
  > a {
    display: block;
    width: 100%;
    height: 10em;
    overflow: hidden;
    .icon {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }

}
</style>
