<template>
  <div :class="['box', {'is-active': current === 'step-' + index}]">
    <span class="scroll-anchor" :id="'step-' + index"></span>
    <h3 class="subtitle">
      <span v-if="step.optional" class="tag is-info">
        <translate translate-context="Badge displayed next to guide step">Optional</translate>
      </span>
      <span
        v-translate
        translate-context="Guide step title"
      >Step %{ index }: %{ step.title }</span>
    </h3>
    <div class="content">
      <p v-for="c in step.content" :key="c">{{ c }}</p>
      <hr v-if="step.recommendations || step.avoid">
      <div v-if="step.recommendations || step.avoid" class="columns">
        <div v-if="step.recommendations" class="column">
          <h4 class="subtitle">
            <span class="icon has-text-success">
              <icon name="check"/>
            </span>
            <translate translate-context="Things that will help">Recommendations</translate>
          </h4>
          <ul class="recommendations" v-if="step.recommendations">
            <li v-for="row in step.recommendations" :key="row">{{ row }}</li>
          </ul>
        </div>
        <div v-if="step.avoid" class="column">
          <h4 class="subtitle">
            <span class="icon has-text-warning">
              <icon name="warning"/>
            </span>
            <translate translate-context="Things that you should avoid">Avoid</translate>
          </h4>
          <ul class="avoid" v-if="step.avoid">
            <li v-for="row in step.avoid" :key="row">{{ row }}</li>
          </ul>
        </div>
      </div>
    </div>
    <p class="buttons" v-if="step.links && step.links.length > 0">
      <template v-for="link in step.links">
        <router-link class="button" :key="JSON.stringify(link.to)" :to="link.to" v-if="link.to">
          <icon :name="link.icon" v-if="link.icon"/>
          <icon name="link" v-else/>
          &nbsp;
          {{ link.text }}
        </router-link>
        <a
          class="button"
          v-else
          :key="link.url"
          :href="link.url"
          rel="noopener noreferred"
          target="_blank"
        >
          <icon :name="link.icon" v-if="link.icon"/>
          <icon name="link" v-else/>
          &nbsp;
          {{ link.text }}
        </a>
      </template>
    </p>
    <div class="media-wrapper" v-if="step.media && step.media.length > 0">
      <hr>
      <div class="media-obects">
        <template v-for="media in step.media">
          <step-image :key="media.url" :media="media" v-if="media.type === 'image'"></step-image>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["step", "index", "current"],

  methods: {
    escapeHtml(unsafe) {
      return unsafe
              .replace(/&/g, "&amp;")
              .replace(/</g, "&lt;")
              .replace(/>/g, "&gt;")
              .replace(/"/g, "&quot;")
              .replace(/'/g, "&#039;");
    }
  }
};
</script>
<style lang="scss" scoped>
.buttons {
  margin-top: 1em;
}
.media-wrapper {
  margin-top: 1em;
}

.media-obects {
  > figure {
    display: inline-block;
  }
}
.box {
  transition: background-color box-shadow 0.5s ease;
}
.box.is-active {
  background-color: rgba(0, 200, 34, 0.05);
  box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.1)
}
.scroll-anchor {
  // used to scroll with a bit of offset
  position: relative;
  top: -5em;
}
</style>
