<template>
  <div id="app">
    <nav class="navbar is-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <router-link class="navbar-item" to="/">
            <img class="logo" :src="`${publicPath}LogoGlobal_150px.png`" alt="Contribateliers logo">
          </router-link>
          <a role="button" :class="['navbar-burger', {'is-active': showNav}]" @click="showNav = !showNav" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div :class="['navbar-menu', {'is-active': showNav}]">
          <div class="navbar-end">
            <div class="navbar-item">
              <label for="language" class="label">
                <translate translate-context="Label for language switcher">
                  Language
                </translate>
              </label>
              <select
                id="language"
                name="language"
                :value="$language.current"
                @change="
                  $router.push({ params: { locale: $event.target.value } })
                "
              >
                <option v-for="(language, key) in $language.available" :key="key" :value="key">{{ language }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </nav>
      <div>
      </div>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showNav: false,
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style lang="scss">
.container.text {
  max-width: 40em;
}

.main.container {
  margin: 1em auto;
}

.navbar-brand {
  .navbar-item {
    img {
      max-height: 2.5em;
    }
  }
}
#app {
  padding-bottom: 5em;
}

.button.is-fullwidth {
  margin-top: 1em;
}
hr.hidden {
  visibility: hidden;
}
hr.small {
  margin: 0.5em 0;
}
.navbar {
  box-shadow: 0em 0.05em 1em rgba(0, 0, 0, 0.1);
  .label {
    margin-right: 1em;
  }
}
</style>
